/* This is partial file, if we give filename starts with _ makes compiler to prevent this file compiled to css, 
since this is imported */

// variables
$clrWhite: #fff;
$clrBlack: #000;
$clrCoral: coral;

$center: center;

$heading1: 32px;
$heading2: 28px;
$heading3: 24px;
$heading4: 20px;